<div class="col-md-12">
    <div class="row">
        {{#each images}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    {{#each ../vehicleCatalog}}
                        {{#if_equal this.codeHtml ../this.model}}

                        <h4 class="card-title d-flex justify-content-between align-items-center">
                            {{this.name}}
                        </h4>
                        <a href="/images/{{this.codeHtml}}">
                            <img src="{{../this.url}}" class="img-fluid">
                        </a>
                        {{/if_equal}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>