<form action="/images/load-images" method="POST">
    <div class="custom-control custom-checkbox my-1 mr-sm-2 center-block">
        <input type="checkbox" class="custom-control-input" name="select_all" id="select_all">
        <label class="custom-control-label" for="select_all"><h5>All models</h5></label>
    </div>
    <br/>
    {{#each vehicleCatalog}}
    <div class="custom-control custom-checkbox my-1 mr-sm-2 center-block">
        <input type="checkbox" class="custom-control-input" name="{{this.codeHtml}}" id="{{this.codeHtml}}">
        <label class="custom-control-label" for="{{this.codeHtml}}">{{this.name}}</label>
    </div>
    {{/each}}
    </div>
    <br />  
    <button type="submit" class="btn btn-primary my-1 ">Load Images</button>
</form>


<script>    
    $('#select_all').change(function() {
        var checkboxes = $(this).closest('form').find(':checkbox');
        checkboxes.prop('checked', $(this).is(':checked'));
    });

    
    $(document).ready(function(){
    });

   

</script>