<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">Load Image</div>
        <div class="card-body">
            Carga de imagenes exitosa.
             <br/>
             <br/>
            <p><a href="/images/covers" class="btn btn-success btn-block">View Images!</a></p>

        </div>
    </div>
</div>