<div class="jumbotron">
    <h1 class="display-4">Content Manager System KIA</h1>
    <p class="lead">This application allows the administration of multimedia resources defined in 
        <a href="https://www.kia.com/" target="_blank">www.kia.com</a>.</p>
    <hr class="my-4">
    <p>Category of images</p>
    <ul>
        <li>Exterior</li>
        <li>Interior</li>
        <li>Technology</li>
        <li>Performance</li>
        <li>Safety</li>
        <li>MediaLink</li>
    </ul>
</div>