<div class="jumbotron">
    <h1 class="display-4">Show Room Virtual</h1>

    <hr class="my-4">
    <p>Vehicles 2021</p>
    <ul>
        <li><a href="https://www.kiavirtualexperience.com/#sp2iexterior" target="_blank">Kia Seltos</a></li>
        <li><a href="https://www.kiavirtualexperience.com/#bdmexterior" target="_blank">Kia Forte Sedan</a></li>
        <li><a href="https://www.kiavirtualexperience.com/#sc-pe_sdexterior" target="_blank">Kia Rio Sedan</a></li>
        <li><a href="https://www.kiavirtualexperience.com/#sc-pe_hbexterior" target="_blank">Kia Rio HB</a></li>
    </ul>

</div>