body {
    background: #FFFFFF;
}

.logo {
    height: 60%;
    width: 60%;
}

.txt_cms {
    color: #000000;
    font: bold;
    font-size: 18px;
    margin-top: -40px;
}

.img {
    width: 180px;
    height: 180px;
    background-size: cover;
}

.card {
    margin-top: 15px;
}

.txtFeature {
    color: #000000;
    border-top-color: #000000;
    font: bold;
}

.backgroundFeature {
    color: #FFFFFF;
    font: bold;
}


/* when the button is toggled off  
it is still in focus and a gray border will appear */

.custom-control-input:focus~.custom-control-label::before {
    border-color: #ADB5BD !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}


/*sets the background color of 
switch to green when it is checked*/

.custom-control-input:checked~.custom-control-label::before {
    border-color: #22b24c !important;
    background-color: #22b24c !important;
}


/*sets the background color of 
switch to violet when it is active*/

.custom-control-input:active~.custom-control-label::before {
    background-color: #22b24c !important;
    border-color: #22b24c !important;
}


/*sets the border color of switch 
to violet when it is not checked*/

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #ADB5BD !important;
}

.custom-control-label {
    color: #000000;
    font-size: 14px;
    padding-right: 20px;
}

.sync {
    padding-right: 20px;
    padding-bottom: 8px;
}

.go-up {
    display: none;
    padding: 20px;
    background: #000000;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #449007;
}

.card-footer {
    color: #fff;
    border-color: #bc162c;
}

.white {
    color: #fff;
}

.footer-cover {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-cover:hover {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
}

.btn-primary {
    background-color: #000000 !important;
}

.navbar {
    border-width: 0px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
}

.jumbotron {
    background: #FFFFFF;
}

.navbar-toggler{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23bc162c' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}