<!-- footer info -->
<div class="site_info">
  <div class="info_top">
    <div class="inner">
      <div class="info_policy">
        <div class="link-f-7-1 link parbase">
          <a href="/mx/shopping-tools/finance-calculator.html" class="depth_a" onclick=" gaEvCom('Kia_motors');">Cotiza tu KIA</a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-2 link parbase">
          <a href="/mx/shopping-tools/request-a-test-drive.html" class="depth_a" onclick=" gaEvCom('test_drive');">Prueba de Manejo</a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-3 link parbase">
          <a href="/mx/shopping-tools/request-a-brochure.html" class="depth_a" onclick=" gaEvCom('rquest_brochure');">Catálogo</a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-4 link parbase">
          <a href="/mx/shopping-tools/finance.html" class="depth_a" onclick=" gaEvCom('finance');">Financiamiento</a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-15 link parbase">
        </div>
        <div class="link-f-7-5 link parbase">
          <a href="/mx/util/contact-us.html" class="depth_a" onclick=" gaEvCom('contacto2');">Contáctanos</a>
          <span class="bar">|</span>
        </div>
        <div class="parbase">
          <a href="tel://5547-800-542" class="depth_a">5547-800-542</a>
        </div>
      </div>
      <div class="info_sns">
        <div class="sns footer_sns parbase">
          <div class="info_sns">
            <a href="http://facebook.com/kiamotorsmexico" class="sns_spr spr_facebook" target="_blank"
              onclick="dtmDataLayer.external_link= 'sns|facebook'; _satellite.track('external_link'); gaEvCom('fb'); ga('send','event','SNS','click','Facebook');">Facebook</a>

            <a href="http://twitter.com/@KiaMotorsMexico" class="sns_spr spr_twitter" target="_blank"
              onclick="dtmDataLayer.external_link='sns|twitter'; _satellite.track('external_link'); gaEvCom('tw'); ga('send','event','SNS','click','Twitter')">Twitter</a>

            <a href="http://www.youtube.com/KiaMotorsMexico" class="sns_spr spr_youtube" target="_blank"
              onclick="dtmDataLayer.external_link= 'sns|youtube'; _satellite.track('external_link');gaEvCom('yt'); ga('send','event','SNS','click','YouTube')">Youtube</a>

            <a href="https://instagram.com/kiamotorsmexico" class="sns_spr spr_instagram" target="_blank"
              onclick="dtmDataLayer.external_link= 'sns|instagram'; _satellite.track('external_link');gaEvCom('intagram'); ga('send','event','SNS','click','Instagram')">Instagram</a>
          </div>
        </div>
      </div>
      <br>
      <div class="info_policy">
        <div class="link-f-7-6 link parbase">
          <a href="/mx/util/faq.html" class="depth_a" onclick=" gaEvCom('preguntas_frecuentes');" title="faq">Preguntas
            frecuentes</a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-8 link parbase">
          <a href="/mx/util/kia-motors-mexico.html" class="depth_a" onclick=" gaEvCom('kia_motors');">KIA Motors Mexico</a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-9 link parbase">
          <a href="/mx/util/privacy.html" class="depth_a" onclick=" gaEvCom('privacy');">Aviso de Privacidad</a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-14 link parbase">
          <a href="https://www.kia.com/mx/util/cookie-privacy.html" class="depth_a" onclick=" gaEvCom('Política de Cookies');" title="Política de Cookies">Política de Cookies </a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-10 link parbase">
          <a href="/mx/util/legal.html" class="depth_a" onclick=" gaEvCom('legal');">Términos y Condiciones</a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-12 link parbase">
          <a href="http://supplier.kia.com" class="depth_a" onclick=" gaEvCom('Proveedores KIA');" target="_blank" title="Proveedores KIA">Proveedores KIA</a>
          <span class="bar">|</span>
        </div>
        <div class="link-f-7-11 link parbase">
          <a href="/mx/sitemap.html" class="depth_a" onclick=" gaEvCom('sitemap');">Mapa de sitio</a>
        </div>
      </div>
      <div class="info_country">
        <a href="/mx/util/kia-motors-global.html" target="_brank"><img
            src="https://www.kia.com/content/dam/kwcms/mx/es/images/ico_flag_mx.gif" alt="mexico"></a>
      </div>
    </div>
  </div>

  <div class="info_map">
    <div class="inner">
      <div class="f_navi">
        <div class="inner">
          <!--div class="item1">
                            <div>showroom</div>
                            <ul>
                                
                                            <li><a href="/mx/showroom/rio-sedan.html">Rio Sedán</a></li>

                                			
                                            <li><a href="/mx/showroom/rio-hatchback.html">Rio Hatchback</a></li>

                                			
                                            <li><a href="/mx/showroom/forte-sedan.html">NUEVO FORTE GT SEDÁN 2021</a></li>

                                			
                                            <li><a href="/mx/showroom/forte-hatchback.html">NUEVO FORTE HB</a></li>

                                			
                                            <li><a href="/mx/showroom/kia-optima.html">NUEVO KIA OPTIMA</a></li>

                                			
                                            <li><a href="/mx/showroom/Stinger.html">Kia Stinger</a></li>

                                			
                                            <li><a href="/mx/showroom/soul.html">Nuevo SOUL 2021</a></li>

                                			
                                            <li><a href="/mx/showroom/seltos.html">Nueva Kia Seltos 2020</a></li>

                                			
                                            <li><a href="/mx/showroom/niro.html">Niro</a></li>

                                			
                                            <li><a href="/mx/showroom/sportage.html">KIA SPORTAGE 2021</a></li>

                                			
                                            <li><a href="/mx/showroom/sorento.html">Sorento</a></li>

                                			
                                            <li><a href="/mx/showroom/kia-sedona.html">KIA SEDONA 2020</a></li>

                                			
                            </ul>
                        </div>
                        
                        <div class="item2">
                            <div>Compra tu Kia</div>
                            <ul>
                                
                                			<li><a href="https://www.apartatukia.com/" class="dth2_a" target="_blank">APARTA TU KIA</a></li>
                                            
                                            <li><a href="/mx/shopping-tools/contact-dealer.html">WhatsApp Distribuidores</a></li>

                                			
                                            <li><a href="/mx/shopping-tools/build-your-own.html">Configura tu Kia</a></li>

                                			
                                            <li><a href="/mx/shopping-tools/request-a-brochure.html">Descargar Catálogo</a></li>

                                			
                                            <li><a href="/mx/shopping-tools/finance-calculator.html">COTIZA TU KIA</a></li>

                                			
                                            <li><a href="/mx/shopping-tools/request-a-quote.html">Solicitar Cotización</a></li>

                                			
                                            <li><a href="/mx/shopping-tools/request-a-test-drive.html">Solicitar Prueba de Manejo</a></li>

                                			
                                			<li><a href="https://www.kia.com/mx/shopping-tools/finance/credit.html" class="dth2_a" target="_self">Financiamiento</a></li>
                                            
                                            <li><a href="/mx/shopping-tools/find-a-dealer.html">Encuentra un distribuidor</a></li>

                                			
                                            <li><a href="/mx/shopping-tools/promociones.html">PROMOCIONES</a></li>

                                			
                                			<li><a href="https://kiakonfidence.mx/" class="dth2_a" target="_blank">KIA KONFIDENCE / SEMINUEVOS</a></li>
                                            
                            </ul>
                        </div>
                        
                        <div class="item3">
                            <div>Propietarios</div>
                            <ul>
                                
                                            <li><a href="/mx/service/service-care.html">Servicio</a></li>

                                			
                                            <li><a href="/mx/service/accesorios.html">Accesorios</a></li>

                                			
                                            <li><a href="/mx/service/warranty.html">Garantía</a></li>

                                			
                                            <li><a href="/mx/service/kia-assistance.html">Kia Assistance</a></li>

                                			
                                            <li><a href="/mx/service/account-status.html">Estado de Cuenta</a></li>

                                			
                                            <li><a href="/mx/service/mykia.html">MYKIA +</a></li>

                                			
                                            <li><a href="/mx/service/driving-guide.html">KIA Tips</a></li>

                                			
                                            <li><a href="/mx/service/kia-secure-parts.html">KIA Secure Parts</a></li>

                                			
                            </ul>
                        </div>
                        
                        <div class="item4">
                            <div>Descubre Kia</div>
                            <ul>
                                
                                            <li><a href="/mx/discover-kia/media-center.html">KIA MEDIA CENTER</a></li>

                                			
                                            <li><a href="/mx/discover-kia/our-story.html">NUESTRA HISTORIA</a></li>

                                			
                                            <li><a href="/mx/discover-kia/innovation.html">INNOVACIÓN</a></li>

                                			
                                            <li><a href="/mx/discover-kia/sponsorship.html">PATROCINIO</a></li>

                                			
                                            <li><a href="/mx/discover-kia/kia-on-beat.html">Kia on Beat</a></li>

                                			
                                            <li><a href="/mx/discover-kia/porque-kia.html">¿Por qué KIA?</a></li>

                                			
                                            <li><a href="/mx/discover-kia/eventos.html">Eventos</a></li>

                                			
                                            <li><a href="/mx/discover-kia/social.html">Responsabilidad Social</a></li>

                                			
                                			<li><a href="http://www.kia-pet.mx/" class="dth2_a" target="_blank">KIA PET</a></li>
                                            
                                            <li><a href="/mx/discover-kia/planta-nuevo-leon.html">Conoce Nuestra Planta</a></li>

                                			
                                            <li><a href="/mx/discover-kia/ces.html">Una Visión del futuro</a></li>

                                			
                                            <li><a href="/mx/discover-kia/siempre-mejores.html">SIEMPRE MEJORES</a></li>

                                			
                                            <li><a href="/mx/discover-kia/ask.html">ASK</a></li>

                                			
                                            <li><a href="/mx/discover-kia/coloreatukia.html">Colorea tu KIA</a></li>

                                			
                            </ul>
                        </div-->

        </div>
      </div>
    </div>
  </div>
  <address class="cpr">
    <div class="inner">
      <span class="br">©COPYRIGHT. DERECHOS DE AUTOR 2017 KIA MOTORS CORP. TODOS LOS DERECHOS RESERVADOS.</span>
      <p class="ft_txt">“Marca Registrada”/ “M.R”/ “®”. Todos los derechos reservados. El texto, las imágenes y gráficas
        del sitio web Kia.com están protegidos por los derechos de autor y derechos de propiedad industrial. El
        contenido no puede ser copiado, difundido, alterado ni ponerse a disposición de terceros con fines comerciales.
        Salvo especificación en contrario, todas las marcas, nombres y avisos comerciales presentes en Kia.com están
        protegidas bajo la ley de propiedad industrial. En particular, esto aplica a las marcas, nombres y avisos
        comerciales, logotipos y emblemas de Kia. Las marcas, nombres y avisos comerciales y los elementos del diseño
        que se usan en Kia.com son propiedad industrial de Kia Motors Corporation</p>
      <span class="f_logo">
        <img src="https://www.kia.com/content/dam/kwcms/gt/en/images/common/lg_footer_kia.png" class="lg_img"
          alt="Kia - The Power to Surprise">
      </span>
    </div>
  </address>
</div>